html {
  font-family: Quicksand, sans-serif;
  color: #5D2E91;
}

.skip-links a {
  position: absolute;
  top: -3em;
  padding: 0;
  margin: 0;
}

.skip-links a:focus {
  top: 0;
}

a {
  color: #6BCCE1;
  text-decoration: none;
}

a:hover {
  color: #5D2E91;
}

.button {
  padding: .5em 1em;
  border-radius: 50px;
  color: #fff;
}

.main-nav {
  color: #fff;
}

.main-nav:hover {
  color: #DCC9ED;
}

footer {
  background-color: #5D2E91;
}

footer, footer a {
  color: #fff;
}

footer a:hover {
  color: #DCC9ED;
}

header {
  background-color: #5D2E91;
}

.about-me {
  color: #5D2E91;
}

.about-me-header {
  color: #5D2E91;
}

.about-button {
  background-color: #5D2E91;
}

.recipedia-text {
  color: #05A585;
}

.recipedia-header {
  color: #0DD1AB;
}

.recipedia-button {
  background-color: #05A585;
}

.recipedia-button:hover {
  background-color: #0DD1AB;
  color: #fff;
}

.snapshot-text {
  color: #009DCC;
}

.snapshot-header {
  color: #F59705;
}

.snapshot-button {
  background-color: #009DCC;
}

.snapshot-button:hover {
  color: #fff;
  background-color: #F59705;
}

.trail-text {
  color: #8129C1;
}

.trail-header {
  color: #3FD6EB;
}

.trail-button {
  background-color: #8129C1;
}

.trail-button:hover {
  color: #fff;
  background-color: #3FD6EB;
}

.oiaf-text {
  color: #00BBBF;
}

.oiaf-header {
  color: #00BBBF;
}

.oiaf-button {
  background-color: #00BBBF;
}

.oiaf-button:hover {
  color: #fff;
  background-color: #EF9122;
}

.max-width {
  max-width: 32em;
}

.card {
  background-position: right bottom;
  background-size: auto 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  border-radius: 40px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.purple-waves {
  background-image: url("../images/purple-waves.svg");
}

.green-waves {
  background-image: url("../images/recipedia/green-waves.svg");
}

.blue-waves {
  background-image: url("../images/snapshot/blue-waves.svg");
}

.trail-waves {
  background-image: url("../images//trail/trail-waves.svg");
}

.oiaf-waves {
  background-image: url("../images/oiaf/oiaf-waves.svg");
}

.text-content {
  color: #000;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 38em) {

  .card {
    border-radius: 30px;
  }

}

@media only screen and (min-width: 48em) {

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  .card {
    border-radius: 50px;
  }

}

@media only screen and (min-width: 90em) {



}
