<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Tori Sheen · Ottawa, Ontario</title>
  <meta name="description" content="An overview of portfolio pieces.">
  <link href="/favicon.ico" rel="shortcut icon">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
</head>
<body>
  <ul class="main-nav">
    <li class="skip-links">
      <a href="#main">Jump to main content</a>
    </li>
  </ul>

  <header role="banner" class="header-image-color">
    <div class="gutter-2 pad-t pad-b grid wrapper">
      <div class="unit s-3-4 m-3-4 l-3-4">
        <a class="main-nav peta" href="{{site.baseurl}}/index">planetorium | tori sheen</a>
      </div>
      <div class="text-right unit s-1-4 m-1-4 l-1-4">
        <a class="main-nav peta" href="mailto:torallydesign@gmail.com?Subject=Hello%20again" target="_top">contact</a>
      </div>
    </div>
  </header>

  <main role="main" id="main" tabindex="0">
    {{content}}
  </main>

  <footer role="contentinfo" class="footer-image">
    <div class="grid text-center wrapper">
      <div class="island unit xs-1 s-1 m-1-4 l-1-4 xl-1-4">
        <ul class="list-group">
          <li><a href="{{site.baseurl}}/index">Home</a></li>
          <li><a href="{{site.baseurl}}/snapshot">Snapshot</a></li>
          <li><a href="{{site.baseurl}}/recipedia">Recipedia</a></li>
        </ul>
      </div>

      <div class="island unit xs-1 s-1 m-1-4 l-1-4 xl-1-4">
        <ul class="list-group">
          <li><a href="{{site.baseurl}}/trail">Trail</a></li>
          <li><a href="{{site.baseurl}}/oiaf">OIAF</a></li>
          <li><a href="{{site.baseurl}}/videos">Videos</a></li>
        </ul>
      </div>

      <div class="island unit xs-1 s-1 m-1-4 l-1-4 xl-1-4">
        <ul class="list-group">
          <li><a href="https://instagram.com/_torally">Instagram</a></li>
          <li><a href="https://www.behance.net/torally">Behance</a></li>
          <li><a href="mailto:hey@torallydesign@gmail.com?Subject=Hello%20again" target="_top">hey@planetorium.ca</a></li>
        </ul>
      </div>

      <div class="island unit xs-1 s-1 m-1-4 l-1-4 xl-1-4">
        <ul class="list-group">
          <li>Tori Sheen</li>
          <li>Ottawa, Ontario</li>
          <li>Canada</li>
        </ul>
      </div>
    </div>
  </footer>

  <script type="application/jd+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Tori Sheen",
      "jobTitle": "Graphic Designer",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Ottawa",
        "addressRegion": "ON",
        "addressCountry": "CA",
      },
      "email": "torallydesign@gmail.com",
      "website": "http://torisheen.ca"
      "sameAs": [
        "https://www.instagram.com/_torally/",
        "https://www.behance.net/torally"
      ]
    }
  </script>
</body>
</html>
