<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Planetorium · Ottawa, Ontario</title>
  <meta name="description" content="An overview of my portfolio pieces">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
</head>
<body>
  <header class="header-image push">
    <div class="text-center pad-t-2 pad-b-2">
      <a class="main-nav yotta" href="{{site.baseurl}}/index">planetorium</a>
    </div>
  </header>

  <main>
    {{content}}
  </main>

  <footer>
    <div class="grid text-center wrapper">
      <div class="island unit xs-1 s-1 m-1-3 l-1-3 xl-1-3">
        <ul class="list-group">
          <li><a href="{{site.baseurl}}/index">Home</a></li>
          <li><a href="{{site.baseurl}}/snapshot">Snapshot</a></li>
          <li><a href="{{site.baseurl}}/recipedia">Recipedia</a></li
        </ul>
      </div>

      <div class="island unit xs-1 s-1 m-1-3 l-1-3 xl-1-3">
        <ul class="list-group">
          <li><a href="https://instagram.com/_planetorium">Instagram</a></li>
          <li><a href="https://www.behance.net/planetorium">Behance</a></li>
        </ul>
      </div>

      <div class="island unit xs-1 s-1 m-1-3 l-1-3 xl-1-3">
        <ul class="list-group">
          <li>Tori Sheen</li>
          <li>Ottawa, Ontario</li>
          <li>Canada</li>
          <li>tori@planetorium.ca</li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
